.author {
  margin-left: rem(-12);
}

.author__text {
  margin: 0;
  font-size: rem(14);
  line-height: 1.5;
  font-weight: 700;
  color: var(--white);
  margin-bottom: rem(15);

  &--copiright {
    font-weight: 400;
    // display: inline-flex;
    // gap: rem(4);

    span {
      color: var(--red);
    }
  }
}

