.col-1 {
  width: 4%;
}

.col-2 {
  width: 21%;
}

.col-3 {
  width: 13%;
}

.col-4 {
  width: 14%;
}

.col-5 {
  width: 13%;
}

.col-6 {
  width: 10%;
}

.col-7 {
  width: 13%;
}

.col-8 {
  width: 9%

}

.col-9 {
  width: 4%;
  padding-right: rem(2);
}