.dropdown {
  position: relative;
}

.dropdown--teachers {
  position: absolute;
  top: rem(21);
  right: rem(21);
}

.dropdown__menu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1000;
  padding: rem(0.5) 0;
  margin: 0;
  min-width: rem(180);
  color: var(--text);
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;

  &--open {
    display: block;
  }
}
