.food-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: rem(32);
}

.food-menu__item {
  &:not(:last-child) {
    margin-bottom: rem(32);
  }
}

.food-menu__foto {
  display: block;
  margin-bottom: rem(24);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.food-menu__name-dish {
  font-weight: 600;
  margin-bottom: rem(4);
}

.food-menu__discription-dish {
  margin: 0;
  font-size: rem(14);
  line-height: 1.5;
  color: var(--grey-3);
}