.pagination {
  display: flex;
  align-items: center;
  gap: rem(16);
  list-style: none;
  padding: 0;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(51);
  height: rem(51);
  background-color: transparent;
  color: var(--grey-3);
  cursor: pointer;

  &.disabled {
    color: var(--disabled); 
  }

  &:hover {
    color: var(--purple);
  }

  &--prev {
    transform: rotate(90deg);
  }

  &--next {
    transform: rotate(-90deg);
  }

  &--page {
    border-radius: 50%;
    border: 2px solid var(--grey-3);

    &.disabled {
      border-color: var(--disabled);
    }

    &:hover,
    &:active {
      color: var(--white);
      box-shadow: rem(0) rem(7) rem(16) rem(0) rgba(0, 0, 0, 0.14);
    }
    
    &:hover {
      background-color: var(--purple);
      border: var(--purple);
    }
  
    &:active {
      background-color: var(--orange);
      border: var(--orange);
    }
  }  
}


