.search-bar {
  position: relative;
  color: var(--purple);
  min-width: rem(350);

  &--left {
  margin-left: auto;
  }

  &--right {
    margin-right: auto;
  }

  svg {
    position: absolute;
    left: rem(32);
    top: 50%;
    transform: translateY(-50%);
  }
}

.search-bar__input {
  padding: rem(16.5) rem(32) rem(16.5) rem(80);
  border-radius: rem(40);
  width: 100%;
  border: none;
  line-height: 1.5;
  color: var(--grey-3);
  vertical-align: middle;

  &:focus {
    outline: 2px solid var(--purple);
  }
}