.user-data {
  display: flex;
  gap: rem(24);

  &--student-list {
    flex-direction: row-reverse;
    gap: rem(16);
    margin-right: auto;
  }
}

.user-data__text-box {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  margin-top: rem(7);

  &--student-list {
    margin-top: 0;
  }
}

.user-data__foto {
  display: block;

  &:hover img {
    opacity: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: opacity 0.3s ease;
  }
}

.user-data__text {
  font-size: rem(14);
  line-height: 1.5;
  text-align: right;
  margin: 0;

  &--student-list {
    text-align: initial;
  }
  
  
  &--name {
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
  } 
}
