.user-data {
  display: flex;
  gap: rem(16);
  margin-right: auto;

  &--md {
    gap: rem(24);
  }
}

.user-data__text-box {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  
  &--md {
    margin-top: rem(7);
  }
}

.user-data__foto {
  display: block;

  &:hover img {
    opacity: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: opacity 0.3s ease;
  }
}

.user-data__text {
  font-size: rem(14);
  line-height: 1.5;
  margin: 0;
  color: var(--grey-3);

  &--md {
    text-align: right;
  }
  
  &--name {
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
  } 

  &--size {
    width: rem(201); 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}
