.calendar {
  padding: rem(32);
  background-color: var(--white);
  border-radius: rem(20);
  grid-area: calendar;
  margin-right: rem(40); 
}

.calendar__header {
  display: flex;
  align-items: center;
  margin-bottom: rem(40);
}

.calendar__header-box {
  margin-left: auto;
  display: flex;
  gap: rem(24);
}

.calendar__title {
  font-size: rem(36);
  font-weight: 700;
  line-height: 1.5;
}

.calendar__dayname-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: rem(24);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  gap: rem(29);
}

.calendar__dayname-item {
  font-size: rem(14);
  line-height: 1.5;
  color: var(--grey-3);
}

.calendar__weekday-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
  gap: rem(29) rem(32);
  
}

.calendar__weekday-item {
  font-size: rem(24);
  line-height: 1.5;
  font-weight: 700;
  position: relative;
}

.calendar__details-box {
  position: absolute;
  bottom: rem(27);
  display: flex;
  gap: rem(11);
}

.calendar__details {
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  display: block;


  &--yellow {
    background-color: var(--yellow);
  }

  &--purple {
    background-color: var(--purple);
  }

  &--orange {
    background-color: var(--orange);
  }
}

.calendar__details-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(26);
  height: rem(26);
  border-radius: 50%;
  background-color: var(--grey-2);
  border: 1px solid var(--white);
  position: absolute;
  top: rem(77);
  color: var(--white);
  font-size: rem(14);
  line-height: 1.5;

  &--purple {
    background-color: var(--text);
  }
}

.calendar__details-position-1 {
  left: rem(20);
}

.calendar__details-position-2 {
  left: rem(40);
}

.calendar__details-position-3 {
  left: rem(60);
}

.calendar__today-box {
  display: flex;
}

.calendar__details-rectangle {
  display: block;
  width: rem(3);
  height: rem(35);
  margin-right: rem(6);

  &--yellow {
    background-color: var(--yellow);
  }

  &--orange {
    background-color: var(--orange);
  }
}

.calendar__new-student {
  font-size: rem(14);
  line-height: 1.85;
  

  &--color-white {
    color: var(--white);
  }

  &--color-purple {
    color: var(--text);
  }
}