.food-menu {
  padding: rem(21) rem(30) rem(32) rem(33);
  background-color: var(--white);
  border-radius: rem(20);
}

.food-menu__box {
  display: flex;
  margin-bottom: rem(40);
}

.food-menu__title {
  font-size: rem(24);
  line-height: 1.5;
  margin: 0;
  margin-right: auto;
}

.food-menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: rem(32);
  margin-bottom: rem(56);
}

.food-menu__item {
  display: grid;
  grid-template-columns: 40% 6% 14% 10% rem(60) rem(46);
  gap: rem(15);
  align-items: center;
  justify-content: space-between;
}