.general-statistic {
  background-color: var(--white);
  border-radius: rem(20);
  padding: rem(45) rem(47);
  grid-area: statistic;
}

.general-statistic__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
  gap: rem(10);
}


