.header-students__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(40);
}

.header-students__box {
  display: flex;
  align-items: flex-start;
  margin-bottom: rem(40);
}