.messages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: rem(32);
  
  &__time {
    color: var(--grey-3);
    font-size: rem(14);
    line-height: 1.5; 
    flex-shrink: 0;
    padding-left: rem(10);
    margin-left: rem(-20);
  }
}

.messages-list__item {
  padding: rem(16) 0 rem(23) 0;
  border-bottom: rem(1) solid var(--grey-3);
  display: flex;

  // .user-data {
  //   margin-top: rem(5);
  //   min-width: 0;
  // }
}