.school-perfomance {
  background-color: var(--white);
  border-radius: rem(20);
  padding: rem(32);
}

.school-perfomance__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(24);
}

.school-perfomance__foto {
  img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
  }
}