.student-contact {
  margin-bottom: rem(64);
}

.student-contact__title-box {
  display: flex;
  gap: rem(10);
  margin-bottom: rem(35);
}

.student-contact__text-box {
  margin-right: auto;
}

.student-contact__title {
  margin-bottom: rem(4);
}

.student-contact__text {
  margin: 0;
  font-size: rem(14);
  color: var(--grey-3);
}

