<section class="balance-analistics">
  <div class="balance-analistics__box">
    <h2 class="balance-analistics__title title">Balance Analytics</h2>
    <div class="chat-legend chat-legend--right">
      <div class="chat-legend__wrapper">
        <p class="chat-legend__text chat-legend__text--data-week">Expense</p>
        <span class="chat-legend__number">1.245</span>
      </div>
      <div class="chat-legend__wrapper">
        <p class="chat-legend__text chat-legend__text--data-lastweek">Income</p>
        <span class="chat-legend__number">1.356</span>
      </div>
    </div>
    <button class="btn-outline btn-outline--wide" type="button">Month
      <svg width="32" height="32">
        <use xlink:href="#dropdown"></use>
      </svg>
    </button>
  </div>
  <div class="balance-analistics__chart">
    <img src="images/chart-finance.png" alt="chart">
  </div>
</section>