<div class="current-menu">
  <h3 class="current-menu__title title">Current Foods Menu</h3>
  <div class="current-menu__box">
    <a class="current-menu__foto food-foto food-foto--md" href="/src/food_details.html">
      <img src="https://img.freepik.com/free-photo/top-view-roasted-eggplant-salad-bowl-grey-surface_140725-88536.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
    </a>
    <a class="current-menu__name-dish">Beef Steak with Fried Potato</a>
    <p class="current-menu__discription-dish">Lorem ipsum dolor sit amet...</p>
  </div>
</div>