<section class="finance-statistic">
  <ul class="finance-statistic__list">
    <li class="finance-statistic__item">
      <div class="students-statistic statistic-date">
        <a class="statistic-date__link user-icon user-icon--students user-icon--lg" href="/src/students.html">
          <svg width="40" height="40">
            <use xlink:href="#student">
          </svg>
        </a>
        <div class="statistic-date__text-box">
          <span class="statistic-date__text trimmed-text">Total Students</span>
          <span class="statistic-date__number">932</span>
          <span class="statistic-date__text">
            <span class="statistic-date__amount positive">+10</span>
            than last month
          </span>
        </div>
      </div>
    </li>
    <li class="finance-statistic__item">
      <div class="teachers-statistic statistic-date">
        <a class="statistic-date__link user-icon user-icon--teachers user-icon--lg" href="/src/students.html">
          <svg width="40" height="40">
            <use xlink:href="#teacher"/>
          </svg>
        </a>
        <div class="statistic-date__text-box">
          <span class="statistic-date__text trimmed-text">Total Teachers</span>
          <span class="statistic-date__number">754</span>
          <span class="statistic-date__text">
            <span class="statistic-date__amount negative">-0,5</span>
            than last month
          </span>
        </div>
      </div>
    </li>
    <li class="finance-statistic__item">
      <div class="balance-statistic statistic-date">
        <a class="statistic-date__link user-icon user-icon--balance user-icon--lg" href="/src/students.html">
          <svg width="40" height="40">
            <use xlink:href="#finance"/>
          </svg>
        </a>
        <div class="statistic-date__text-box">
          <span class="statistic-date__text trimmed-text">School Balance</span>
          <span class="statistic-date__number statistic-date__number--dollar">123,456</span>
          <span class="statistic-date__text">
            <span class="statistic-date__amount positive">+23</span>
            than last month
          </span>
        </div>
        <div class="statistic-date__box">
          <img src="images/school-balance-chart.png">
        </div>
      </div>
    </li>
  </ul>
</section>