<section class="food-menu">
  <div class="food-menu__box">
    <h2 class="food-menu__title">Food Menu</h2>
    @@include('common/navigation.html')
  </div>  
  <ul class="food-menu__list">
    <li class="food-menu__item">
      <a class="dish-foto dish-foto--sm" href="/src/food-details.html">
         <img src="https://img.freepik.com/free-photo/tender-juicy-veal-steak-medium-rare-with-french-fries_2829-19634.jpg?t=st=1714254809~exp=1714258409~hmac=7098ec816d461724a41ef979f21789af32c027c4d6b1ff1845991e2af71ec7d7&w=1800">
      </a>
      <div class="dish__text-box">
        <a href="#" class="btn-fill btn-fill--sm" type="button">Lunch</a>
        <a class="dish__name" href="#">Beef Steak with Fried Potato</a>
      </div>
      <div class="food-menu__raiting">
        <svg width="28" height="26">
          <use xlink:href="#star"></use>
        </svg>
        <span class="food-menu__text">4.9</span>
      </div>
      <div class="food-menu__amount">
        <span class="food-menu__icon-chart">
          <svg width="62" height="53">
            <use xlink:href="#chart"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">1.456</span>
          <span class="food-menu__content">Total Order</span>
        </div>
      </div>
      <div class="food-menu__interest">
        <span class="food-menu__icon-arrow">
          <svg width="40" height="40">
            <use xlink:href="#arrow"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">26%</span>
          <span class="food-menu__content">Interest</span>
        </div>
      </div>
      <div class="food-menu__chart">
        @@include('common/chart.html')
      </div>
      @@include('common/dropdown.html')
    </li>
    <li class="food-menu__item">
      <a class="dish-foto dish-foto--sm" href="/src/food-details.html">
        <img src="https://img.freepik.com/free-photo/top-view-delicious-pancakes-with-various-ingredients_140725-114799.jpg?t=st=1714254886~exp=1714258486~hmac=936ab4f7653d618b4eed020b29d2078b3dd6b73a189aa727c3b55c86db3fe7b4&w=1800">
      </a>
      <div class="dish__text-box">
        <a href="#" class="btn-fill btn-fill--sm" type="button">Breakfast</a>
        <a class="dish__name" href="#">Pancake with Honey</a>
      </div>
      <div class="food-menu__raiting">
        <svg width="28" height="26">
          <use xlink:href="#star"></use>
        </svg>
        <span class="food-menu__text">4.9</span>
      </div>
      <div class="food-menu__amount">
        <span class="food-menu__icon-chart">
          <svg width="62" height="53">
            <use xlink:href="#chart"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">1.456</span>
          <span class="food-menu__content">Total Order</span>
        </div>
      </div>
      <div class="food-menu__interest">
        <span class="food-menu__icon-arrow">
          <svg width="40" height="40">
            <use xlink:href="#arrow"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">26%</span>
          <span class="food-menu__content">Interest</span>
        </div>
      </div>
      <div class="food-menu__chart">
        @@include('common/chart.html')
      </div>
      @@include('common/dropdown.html')
    </li>
    <li class="food-menu__item">
      <a class="dish-foto dish-foto--sm" href="/src/food-details.html">
        <img src="https://img.freepik.com/free-photo/fresh-pork-ramen-noodles-dark-crockery-bowl-generative-ai_188544-8170.jpg?t=st=1714254949~exp=1714258549~hmac=fa9021a87b8db61d36c2a12776ce8b67165ffb614c68791bbc40e4e21c0c77d6&w=2000">
      </a>
      <div class="dish__text-box">
        <a href="#" class="btn-fill btn-fill--sm" type="button">Lunch</a>
        <a class="dish__name" href="#">Japanese Beef Ramen</a>
      </div>
      <div class="food-menu__raiting">
        <svg width="28" height="26">
          <use xlink:href="#star"></use>
        </svg>
        <span class="food-menu__text">4.9</span>
      </div>
      <div class="food-menu__amount">
        <span class="food-menu__icon-chart">
          <svg width="62" height="53">
            <use xlink:href="#chart"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">1.456</span>
          <span class="food-menu__content">Total Order</span>
        </div>
      </div>
      <div class="food-menu__interest">
        <span class="food-menu__icon-arrow">
          <svg width="40" height="40">
            <use xlink:href="#arrow"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">26%</span>
          <span class="food-menu__content">Interest</span>
        </div>
      </div>
      <div class="food-menu__chart">
        @@include('common/chart.html')
      </div>
      @@include('common/dropdown.html')
    </li>
    <li class="food-menu__item">
      <a class="dish-foto dish-foto--sm" href="/src/food-details.html">
        <img src="https://img.freepik.com/free-photo/top-view-tasty-salad-with-vegetables_23-2148515491.jpg?t=st=1714254997~exp=1714258597~hmac=03c182d5718d717aeee8f855e861eab71f4ee4cb17bcec975a0553ac22d70fcd&w=1060">
      </a>
      <div class="dish__text-box">
        <a href="#" class="btn-fill btn-fill--sm" type="button">Lunch</a>
        <a class="dish__name" href="#">Mixed Salad</a>
      </div>
      <div class="food-menu__raiting">
        <svg width="28" height="26">
          <use xlink:href="#star"></use>
        </svg>
        <span class="food-menu__text">4.9</span>
      </div>
      <div class="food-menu__amount">
        <span class="food-menu__icon-chart">
          <svg width="62" height="53">
            <use xlink:href="#chart"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">1.456</span>
          <span class="food-menu__content">Total Order</span>
        </div>
      </div>
      <div class="food-menu__interest">
        <span class="food-menu__icon-arrow">
          <svg width="40" height="40">
            <use xlink:href="#arrow"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">26%</span>
          <span class="food-menu__content">Interest</span>
        </div>
      </div>
      <div class="food-menu__chart">
        @@include('common/chart.html')
      </div>
      @@include('common/dropdown.html')
    </li>
    <li class="food-menu__item">
      <a class="dish-foto dish-foto--sm" href="/src/food-details.html">
        <img src="https://img.freepik.com/free-photo/top-view-broccoli-cauliflower-salad-meatball-plate-fork-nude-isolated-background_140725-140412.jpg?t=st=1714255059~exp=1714258659~hmac=7f495fb7e35042ed931680bcbeb241560dce8d9d70ebdb1a5e251c570cbcecce&w=826">
      </a>
      <div class="dish__text-box">
        <a href="#" class="btn-fill btn-fill--sm" type="button">Snack</a>
        <a class="dish__name" href="#">Beef Meatball with Vegetable</a>
      </div>
      <div class="food-menu__raiting">
        <svg width="28" height="26">
          <use xlink:href="#star"></use>
        </svg>
        <span class="food-menu__text">4.9</span>
      </div>
      <div class="food-menu__amount">
        <span class="food-menu__icon-chart">
          <svg width="62" height="53">
            <use xlink:href="#chart"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">1.456</span>
          <span class="food-menu__content">Total Order</span>
        </div>
      </div>
      <div class="food-menu__interest">
        <span class="food-menu__icon-arrow">
          <svg width="40" height="40">
            <use xlink:href="#arrow"></use>
          </svg>
        </span>
        <div class="food-menu__container">
          <span class="food-menu__text">26%</span>
          <span class="food-menu__content">Interest</span>
        </div>
      </div>
      <div class="food-menu__chart">
        @@include('common/chart.html')
      </div>
      @@include('common/dropdown.html')
    </li>
  </ul>
  @@include('common/pagination.html')
</section>