<section class="general-statistic">
  <ul class="general-statistic__list">
    <li class="general-statistic__item">
      <a class="general-statistic__link user-icon user-icon--students user-icon--lg" href="/src/students.html">
        <svg width="40" height="40">
          <use xlink:href="#student"></use>
        </svg>
      </a>
      <span class="general-statistic__text">Students</span>
      <span class="general-statistic__number">932</span>
    </li>
    <li class="general-statistic__item">
      <a class="general-statistic__link user-icon user-icon--teachers user-icon--lg" href="/src/students.html">
        <svg width="40" height="40">
          <use xlink:href="#teacher"></use>
        </svg>
      </a>
      <span class="general-statistic__text">Teachersвввввввввввввввввввввввввв</span>
      <span class="general-statistic__number">754</span>
    </li>
    <li class="general-statistic__item">
      <a class="general-statistic__link user-icon user-icon--events user-icon--lg" href="/src/students.html">
        <svg width="40" height="40">
          <use xlink:href="#calendar"></use>
        </svg>
      </a>
      <span class="general-statistic__text">Events</span>
      <span class="general-statistic__number">40</span>
    </li>
    <li class="general-statistic__item">
      <a class="general-statistic__link user-icon user-icon--foods user-icon--lg" href="/src/students.html">
        <svg width="40" height="40">
          <use xlink:href="#food"></use>
        </svg>
      </a>
      <span class="general-statistic__text">Foods</span>
      <span class="general-statistic__number">32k</span>
    </li>
  </ul>
</section>