<section class="general-statistic">
  <ul class="general-statistic__list">
    <li class="general-statistic__item">
      <div class="students-statistic statistic-date">
        <a class="statistic-date__link user-icon user-icon--students user-icon--lg" href="/src/students.html">
          <svg width="40" height="40">
            <use xlink:href="#student">
          </svg>
        </a>
        <div class="statistic-date__text-box">
          <span class="statistic-date__text trimmed-text">Students</span>
          <span class="statistic-date__number">932</span>
        </div>
      </div>
    </li>
    <li class="general-statistic__item">
      <div class="teachers-statistic statistic-date">
        <a class="statistic-date__link user-icon user-icon--teachers user-icon--lg" href="/src/students.html">
          <svg width="40" height="40">
            <use xlink:href="#teacher"/>
          </svg>
        </a>
        <div class="statistic-date__text-box">
          <span class="statistic-date__text trimmed-text">Teachers</span>
          <span class="statistic-date__number">754</span>
        </div>
      </div>
    </li>
    <li class="general-statistic__item">
      <div class="events-statistic statistic-date">
        <a class="statistic-date__link user-icon user-icon--events user-icon--lg" href="/src/students.html">
          <svg width="40" height="40">
            <use xlink:href="#calendar"/>
          </svg>
        </a>
        <div class="statistic-date__text-box">
          <span class="statistic-date__text trimmed-text">Events</span>
          <span class="statistic-date__number">40</span>
        </div>
      </div>
    </li>
    <li class="general-statistic__item">
      <div class="foods-statistic statistic-date">
        <a class="statistic-date__link user-icon user-icon--foods user-icon--lg" href="/src/students.html">
          <svg width="40" height="40">
            <use xlink:href="#food"/>
          </svg>
        </a>
        <div class="statistic-date__text-box">
          <span class="statistic-date__text trimmed-text">Foods</span>
          <span class="statistic-date__number">32k</span>
        </div>
      </div>
    </li>
  </ul>
</section>