<section class="school-calendar">
  <div class="school-calendar__header">
    <h2 class="school-calendar__title title">School Calendar</h2>
    <div class="school-calendar__box">
      <span class="school-calendar__current-month">March 2021</span>
      <button class="school-calendar__btn btn-dropdown" type="button">
        <span class="visually-hidden">button calendar</span>
        <svg width="24" height="24">
          <use xlink:href="#dropdown"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="school-calendar__calendar">
    <div class="school-calendar__weekdays school-calendar__weekdays--days">
      <span class="school-calendar__day">Sun</span>
      <span class="school-calendar__day">Mon</span>
      <span class="school-calendar__day">Tue</span>
      <span class="school-calendar__day">Wed</span>
      <span class="school-calendar__day">Thu</span>
      <span class="school-calendar__day">Fri</span>
      <span class="school-calendar__day">Sat</span>
    </div>
    <div class="school-calendar__weekdays">
      <span class="school-calendar__date">31</span>
      <span class="school-calendar__date">1</span>
      <span class="school-calendar__date">2</span>
      <span class="school-calendar__date">3</span>
      <span class="school-calendar__date">4</span>
      <span class="school-calendar__date school-calendar__date--current">5</span>
      <span class="school-calendar__date">6</span>
    </div>
    <div class="school-calendar__weekdays">
      <span class="school-calendar__date">7</span>
      <span class="school-calendar__date school-calendar__date--shape school-calendar__date--purple">8</span>
      <span class="school-calendar__date">9</span>
      <span class="school-calendar__date">10</span>
      <span class="school-calendar__date">11</span>
      <span class="school-calendar__date">12</span>
      <span class="school-calendar__date">13</span>
    </div>
    <div class="school-calendar__weekdays">
      <span class="school-calendar__date">14</span>
      <span class="school-calendar__date">15</span>
      <span class="school-calendar__date">16</span>
      <span class="school-calendar__date">17</span>
      <span class="school-calendar__date">18</span>
      <span class="school-calendar__date">19</span>
      <span class="school-calendar__date school-calendar__date--shape school-calendar__date--yellow">20</span>
    </div>
    <div class="school-calendar__weekdays">
      <span class="school-calendar__date">21</span>
      <span class="school-calendar__date">22</span>
      <span class="school-calendar__date school-calendar__date--shape school-calendar__date--orange">23</span>
      <span class="school-calendar__date">24</span>
      <span class="school-calendar__date">25</span>
      <span class="school-calendar__date">26</span>
      <span class="school-calendar__date">27</span>
    </div>
    <div class="school-calendar__weekdays">
      <span class="school-calendar__date">28</span>
      <span class="school-calendar__date">29</span>
      <span class="school-calendar__date">30</span>
      <span class="school-calendar__date">31</span>
      <span class="school-calendar__date">1</span>
      <span class="school-calendar__date">2</span>
      <span class="school-calendar__date">3</span>
    </div>
  </div>

</section>