<section class="school-expense">
  <h2 class="school-expense__title">School Expense</h2>
  <ul class="school-expense__list">
    <li class="school-expense__item">
      <div class="school-expense__student-info">
        @@include('common/trending-icon.html')
        <div class="school-expense__text-box">
          <span class="student-id">#123456789</span>
          <span class="school-expense__text">2 March 2021, 13:45 PM</span>
        </div>
      </div>
      <span class="school-expense__content currency currency--us">50,036</span>
      <span class="school-expense__content school-expense__content--complete">Complete</span>
    </li>
    <li class="school-expense__item">
      <div class="school-expense__student-info">
        @@include('common/trending-icon.html')
        <div class="school-expense__text-box">
          <span class="student-id">#123456789</span>
          <span class="school-expense__text">2 March 2021, 13:45 PM</span>
        </div>
      </div>
      <span class="school-expense__content currency currency--us">50,036</span>
      <span class="school-expense__content school-expense__content--pending">Pending</span>
    </li>
    <li class="school-expense__item">
      <div class="school-expense__student-info">
        @@include('common/trending-icon.html')
        <div class="school-expense__text-box">
          <span class="student-id">#123456789</span>
          <span class="school-expense__text">2 March 2021, 13:45 PM</span>
        </div>
      </div>
      <span class="school-expense__content currency currency--us">50,036</span>
      <span class="school-expense__content school-expense__content--canceled">Canceled</span>
    </li>
    <li class="school-expense__item">
      <div class="school-expense__student-info">
        @@include('common/trending-icon.html')
        <div class="school-expense__text-box">
          <span class="student-id">#123456789</span>
          <span class="school-expense__text">2 March 2021, 13:45 PM</span>
        </div>
      </div>
      <span class="school-expense__content currency currency--us">50,036</span>
      <span class="school-expense__content school-expense__content--complete">Complete</span>
    </li>
    <li class="school-expense__item">
      <div class="school-expense__student-info">
        @@include('common/trending-icon.html')
        <div class="school-expense__text-box">
          <span class="student-id">#123456789</span>
          <span class="school-expense__text">2 March 2021, 13:45 PM</span>
        </div>
      </div>
      <span class="school-expense__content currency currency--us">50,036</span>
      <span class="school-expense__content school-expense__content--complete">Complete</span>
    </li>
    <li class="school-expense__item">
      <div class="school-expense__student-info">
        @@include('common/trending-icon.html')
        <div class="school-expense__text-box">
          <span class="student-id">#123456789</span>
          <span class="school-expense__text">2 March 2021, 13:45 PM</span>
        </div>
      </div>
      <span class="school-expense__content currency currency--us">50,036</span>
      <span class="school-expense__content school-expense__content--complete">Complete</span>
    </li>
  </ul>
  @@include('common/pagination.html')
</section>