<section class="student-registry">
  <table class="student-data">
    <thead class="student-data__head">
      <tr class="student-data__row">
        <th class="student-data__cell student-data__cell--head col-1">
          <label class="student-data__checkbox">
            <input type="checkbox" name="subscribe" value="">
            <span class="student-data__checkmark"></span>
          </label>
        </th>
        <th class="student-data__cell student-data__cell--head col-2">Name</th>
        <th class="student-data__cell student-data__cell--head col-3">ID</th>
        <th class="student-data__cell student-data__cell--head col-4">Date</th>
        <th class="student-data__cell student-data__cell--head col-5">Parent Name</th>
        <th class="student-data__cell student-data__cell--head col-6">City</th>
        <th class="student-data__cell student-data__cell--head col-7">Contact</th>
        <th class="student-data__cell student-data__cell--head col-8">Grade</th>
        <th class="student-data__cell student-data__cell--right student-data__cell--head col-9">Action</th>
      </tr>
    </thead>
    <tbody class="student-data__body">
      <tr class="student-data__row">
        <td class="student-data__cell col-1">
          <label class="student-data__checkbox">
            <input type="checkbox" name="subscribe" value="">
            <span class="student-data__checkmark"></span>
          </label>
        </td>
        <td class="student-data__cell col-2">
          <div class="user-data user-data--aligment">
            <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
              <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
              <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
            </a>
            <a class="user-data__text user-data__text--size trimmed-text" href="/src/user_dashboard.html">Samantha William</a>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--font-weight student-data__cell--font-size student-data__cell--color-1 col-3">#123456789</td>
        <td class="student-data__cell student-data__cell--color-2 col-4"><p>March 25, 2021</p></td>
        <td class="student-data__cell col-5">Mana William</td>
        <td class="student-data__cell col-6">Jakarta</td>
        <td class="student-data__cell col-7">
          <div class="student-data__btn-box">
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#call"></use>
              </svg>
            </button>
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#email"></use>
              </svg>
            </button>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--color-3 col-8">VII A
          <span class="student-data__color student-data__color--background-orange"></span>
        </td>
        <td class="student-data__cell student-data__cell--right col-9">
          @@include('common/btn/btn_menu_submenu.html')
        </td>
      </tr>
      <tr class="student-data__row">
        <td class="student-data__cell col-1">
          <label class="student-data__checkbox">
            <input type="checkbox" name="subscribe" value="">
            <span class="student-data__checkmark"></span>
          </label>
        </td>
        <td class="student-data__cell col-2">
          <div class="user-data user-data--aligment">
            <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
              <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
              <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
            </a>
            <a class="user-data__text user-data__text--size trimmed-text" href="/src/user_dashboard.html">Tony Soap</a>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--font-weight student-data__cell--font-size student-data__cell--color-1 col-3">#123456789</td>
        <td class="student-data__cell student-data__cell--color-2 col-4">March 25, 2021</td>
        <td class="student-data__cell col-5">James Soap</td>
        <td class="student-data__cell col-6">Jakarta</td>
        <td class="student-data__cell col-7">
          <div class="student-data__btn-box">
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#call"></use>
              </svg>
            </button>
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#email"></use>
              </svg>
            </button>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--color-3 col-8">VII A
          <span class="student-data__color student-data__color--background-yellow"></span>
        </td>
        <td class="student-data__cell student-data__cell--right col-9">
          @@include('common/btn/btn_menu_submenu.html')
        </td>
      </tr>
      <tr class="student-data__row">
        <td class="student-data__cell col-1">
          <label class="student-data__checkbox">
            <input type="checkbox" name="subscribe" value="">
            <span class="student-data__checkmark"></span>
          </label>
        </td>
        <td class="student-data__cell col-2">
          <div class="user-data user-data--aligment">
            <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
              <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
              <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
            </a>
            <a class="user-data__text user-data__text--size trimmed-text" href="/src/user_dashboard.html">Karen Hope</a>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--font-weight student-data__cell--font-size student-data__cell--color-1 col-3">#123456789</td>
        <td class="student-data__cell student-data__cell--color-2 col-4">March 25, 2021</td>
        <td class="student-data__cell col-5">Justin Hope</td>
        <td class="student-data__cell col-6">Jakarta</td>
        <td class="student-data__cell col-7">
          <div class="student-data__btn-box">
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#call"></use>
              </svg>
            </button>
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#email"></use>
              </svg>
            </button>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--color-3 col-8">VII A
          <span class="student-data__color student-data__color--background-purple"></span>
        </td>
        <td class="student-data__cell student-data__cell--right col-9">
          @@include('common/btn/btn_menu_submenu.html')
        </td>
      </tr>
      <tr class="student-data__row">
        <td class="student-data__cell col-1">
          <label class="student-data__checkbox">
            <input type="checkbox" name="subscribe" value="">
            <span class="student-data__checkmark"></span>
          </label>
        </td>
        <td class="student-data__cell col-2">
          <div class="user-data user-data--aligment">
            <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
              <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
              <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
            </a>
            <a class="user-data__text user-data__text--size trimmed-text" href="/src/user_dashboard.html">Jordan Nico</a>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--font-weight student-data__cell--font-size student-data__cell--color-1 col-3">#123456789</td>
        <td class="student-data__cell student-data__cell--color-2 col-4">March 25, 2021</td>
        <td class="student-data__cell col-5">Amanda Nico</td>
        <td class="student-data__cell col-6">Jakarta</td>
        <td class="student-data__cell col-7">
          <div class="student-data__btn-box">
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#call"></use>
              </svg>
            </button>
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#email"></use>
              </svg>
            </button>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--color-3 col-8">VII A
          <span class="student-data__color student-data__color--background-yellow"></span>
        </td>
        <td class="student-data__cell student-data__cell--right col-9">
          @@include('common/btn/btn_menu_submenu.html')
        </td>
      </tr>
      <tr class="student-data__row">
        <td class="student-data__cell col-1">
          <label class="student-data__checkbox">
            <input type="checkbox" name="subscribe" value="">
            <span class="student-data__checkmark"></span>
          </label>
        </td>
        <td class="student-data__cell col-2">
          <div class="user-data user-data--aligment">
            <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
              <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
              <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
            </a>
            <a class="user-data__text user-data__text--size trimmed-text" href="/src/user_dashboard.html">Nadila Adja</a>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--font-weight student-data__cell--font-size student-data__cell--color-1 col-3">#123456789</td>
        <td class="student-data__cell student-data__cell--color-2 col-4">March 25, 2021</td>
        <td class="student-data__cell col-5">Jack Adja</td>
        <td class="student-data__cell col-6">Jakarta</td>
        <td class="student-data__cell col-7">
          <div class="student-data__btn-box">
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#call"></use>
              </svg>
            </button>
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#email"></use>
              </svg>
            </button>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--color-3 col-8">VII A
          <span class="student-data__color student-data__color--background-orange"></span>
        </td>
        <td class="student-data__cell student-data__cell--right col-9">
          @@include('common/btn/btn_menu_submenu.html')
        </td>
      </tr>
      <tr class="student-data__row">
        <td class="student-data__cell col-1">
          <label class="student-data__checkbox">
            <input type="checkbox" name="subscribe" value="">
            <span class="student-data__checkmark"></span>
          </label>
        </td>
        <td class="student-data__cell col-2">
          <div class="user-data user-data--aligment">
            <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
              <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
              <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
            </a>
            <a class="user-data__text user-data__text--size trimmed-text" href="/src/user_dashboard.html">Johnny Ahmad</a>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--font-weight student-data__cell--font-size student-data__cell--color-1 col-3">#123456789</td>
        <td class="student-data__cell student-data__cell--color-2 col-4">March 25, 2021</td>
        <td class="student-data__cell col-5">Danny Ahmad</td>
        <td class="student-data__cell col-6">Jakarta</td>
        <td class="student-data__cell col-7">
          <div class="student-data__btn-box">
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#call"></use>
              </svg>
            </button>
            <button class="btn-icon btn-icon--sm btn-icon--background-1 btn-icon--color-1" type="button">
              <svg width="24" height="24">
                <use xlink:href="#email"></use>
              </svg>
            </button>
          </div>
        </td>
        <td class="student-data__cell student-data__cell--color-3 col-8">VII A
          <span class="student-data__color student-data__color--background-purple"></span>
        </td>
        <td class="student-data__cell student-data__cell--right col-9">
          @@include('common/btn/btn_menu_submenu.html')
        </td>
      </tr>
    </tbody>
  </table>
  @@include('common/pagination.html')
</section>