<ul class="food-menu">
  <li class="food-menu__item">
    <a class="food-menu__foto food-foto food-foto--md" href="/src/food_details.html">
      <img src="https://img.freepik.com/free-photo/tender-juicy-veal-steak-medium-rare-with-french-fries_2829-19637.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=ais">
    </a>
    <a class="food-menu__name" href="/src/food_details.html">Beef Steak with Fried Potato</a>
    <p class="food-menu__discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nostrum!</p>
  </li>
  <li class="food-menu__item">
    <a class="food-menu__foto food-foto food-foto--md" href="/src/food_details.html">
      <img src="https://img.freepik.com/free-photo/homemade-breakfast-american-style-pancakes-served-with-pears-honey-with-cup-tea-concrete-top-view-copy_114579-3931.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=ais">
    </a>
    <a class="food-menu__name" href="/src/food_details.html">Pancake with Honey</a>
    <p class="food-menu__discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, numquam!</p>
  </li>
  <li class="food-menu__item">
    <a class="food-menu__foto food-foto food-foto--md" href="/src/food_details.html">
      <img src="https://img.freepik.com/free-photo/fresh-pork-ramen-noodles-dark-crockery-bowl-generative-ai_188544-8170.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=ais">
    </a>
    <a class="food-menu__name" href="/src/food_details.html">Japanese Beef Ramen</a>
    <p class="food-menu__discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, velit.</p>
  </li>
</ul>