<ul class="messages-list">
  <li class="messages-list__item">
    <div class="user-data user-data--messages">
      <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
        <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
        <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
      </a>
      <div class="user-data__text-box">
        <a class="user-data__text user-data__text--name" href="/src/user_dashboard.html">Samantha William</a>
        <span class="user-data__text user-data__text--size">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
    </div>
    <time class="messages-list__time" datetime="2001-05-15 12:45">12:45 PM</time>
  </li>
  <li class="messages-list__item"> 
    <div class="user-data user-data--messages">
      <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
        <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
        <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
      </a>
      <div class="user-data__text-box">
        <a class="user-data__text user-data__text--name" href="/src/user_dashboard.html">Tony Soap</a>
        <span class="user-data__text user-data__text--size">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
    </div>
    <time class="messages-list__time" datetime="2001-05-15 12:45">12:45 PM</time>
  </li>
  <li class="messages-list__item">
    <div class="user-data user-data--messages">
      <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
        <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
        <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
      </a>
      <div class="user-data__text-box">
        <a class="user-data__text user-data__text--name" href="/src/user_dashboard.html">Jordan Nico</a>
        <span class="user-data__text user-data__text--size">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
    </div>
    <time class="messages-list__time" datetime="2001-05-15 12:45">12:45 PM</time>
  </li>
  <li class="messages-list__item">
    <div class="user-data user-data--messages">
      <a class="user-data__foto user-foto user-foto--sm" href="/src/user_dashboard.html">
        <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
        <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
      </a>
      <div class="user-data__text-box">
        <a class="user-data__text user-data__text--name" href="/src/user_dashboard.html">Nadila Adja</a>
        <span class="user-data__text user-data__text--size">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
    </div>
    <time class="messages-list__time" datetime="2001-05-15 12:45">12:45 PM</time>
  </li>
</ul>