<ul class="pagination">
  <li class="pagination__item">
    <a class="pagination__link pagination__link--prev disabled" href="#">
      <span class="visually-hidden">prev</span>
      <svg width="32" height="32">
        <use xlink:href="#dropdown"></use>
      </svg>
    </a> 
  </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--page" href="#">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--page" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--page" href="#">3</a>
    </li>
  <li class="pagination__link">
    <a class="pagination__link pagination__link--next" href="#">
      <span class="visually-hidden">next</span>
      <svg width="32" height="32">
        <use xlink:href="#dropdown"></use>
      </svg>
    </a> 
  </li>
</ul>