<nav class="personal-info">
  <ul class="personal-info__list">
    <li class="personal-info__item">
      <a class="personal-info__link personal-info__icon" href="/src/notification.html">
        <svg width="32" height="32">
          <use xlink:href="#bell"></use>
        </svg>
        <span class="personal-info__activity"></span>
      </a>
    </li>
    <li class="personal-info__item">
      <a class="personal-info__link personal-info__icon" href="#">
        <svg width="32" height="32">
          <use xlink:href="#gear"></use>
        </svg>
      </a>
    </li>
    <li class="personal-info__item">
      <div class="user-data">
        <div class="user-data__text-box">
          <a class="user-data__text user-data__text--name" href="/src/user_dashboard.html">Nabila A.</a>
          <p class="user-data__text">Admin</p>
        </div>
        <a class="user-data__foto user-foto" href="/src/user_dashboard.html">
          <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-posing_23-2148934175.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph">
          <!-- <img src="https://img.freepik.com/free-photo/young-smiling-blonde-russian-girl-holds-phone-and-looks-at-credit-card_141793-96238.jpg?size=626&ext=jpg&ga=GA1.1.858720593.1703581418&semt=sph"> -->
        </a>
      </div>
    </li>
  </ul>
</nav>