// Scss variables

:root {
  --main-font: "Poppins", "Verdana", "Arial" sans-serif;
  --purple: #4D44B5;
  --orange: #FB7D5B;
  --yellow: #FCC43E;
  --text: #303972;
  --green: #4CBC9A;
  --red: #FF4550;
  --main-background-color: #F3F4FF;
  --white: #FFFFFF;
  --grey-1: #F5F5F5;
  --grey-2: #C1BBEB;
  --grey-3: #A098AE;

  //transparent color

  --purple-10: rgba(160, 152, 174, 0.1); 

  //gradient color

  --liner-1: linear-gradient(180deg, #FB7D5B -242.86%, rgba(251, 125, 91, 0) 100%);
  --liner-2: linear-gradient(180deg, #FCC43E -241.95%, rgba(252, 196, 62, 0) 100%);
  --liner-3: linear-gradient(178.76deg, #4D44B5 -47.98%, #303972 163.51%);

}