.btn-view-more {
  display: block;
  width: 100%;
  padding: rem(21);
  border-radius: 2.22em;
  background-color: var(--purple-10);
  box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
  font: 600 rem(18)/1 var(--main-font);
  color: var(--purple);
  cursor: pointer;
  border: none;
}