.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  cursor: pointer; 
  padding: rem(10);
  color: var(--grey-3);
  border: 2px solid currentColor;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  flex-shrink: 0;
  transition: all 0.3s;

  &:hover {
    background-color: var(--purple);
    box-shadow: var(--shadow-1);
    color: var(--white);
    border-color: var(--purple);
  }

  &--right:hover svg {
    animation: toRight 0.3s forwards;
  }
}

@keyframes toRight {
  49% {
    transform: translate(100%);
  }

  50% {
    opacity: 0;
    transform: translate(-100%);
  }

  51% {
    opacity: 1;
  }
}

