.btn-view {
  display: block;
  width: 100%;
  padding: rem(21);
  border-radius: 2.22em;
  background-color: var(--purple-10);
  box-shadow: rem(0) rem(20) rem(50) 0 rgba(191, 21, 108, 0.05);
  font: 600 rem(18)/1 var(--main-font);
  color: var(--purple);
  cursor: pointer;
  border: none;
}