.btn-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: rem(168);
  font: 400 rem(18)/1 var(--main-font);
  color: var(--purple);
  border-radius: 2.5em;
  border: 2px solid var(--purple);
  padding: rem(19) rem(22); 

  &--wide {
    padding: rem(12) rem(45);
    gap: rem(16);
  }
}