.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer; 
  color: var(--grey-3);
  border: 2px solid currentColor;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  flex-shrink: 0;
  transition: all 0.3s;

  &--sm {
    width: rem(40);
    height: rem(40);
  }

  &--md {
    width: rem(48);
    height: rem(48);
  }

  &--background-1 {
    background-color: var(--purple-10);
    border-color: transparent;
  }

  &--background-2 {
    background-color: var(--purple);
  }

  &--color-1 {
    color: var(--purple);
  }

  &--color-2 {
    color: var(--white);
  }

  &:hover {
    background-color: var(--purple);
    box-shadow: var(--shadow-1);
    color: var(--white);
    border-color: var(--purple);
  }

  &--background-2 {
    &:hover {
    background-color: var(--grey-2);
    border-color: transparent;
    }
  }

  &--color-2 {
    &:hover {
      color: var(--text);
    }
  }

  &--right:hover svg {
    animation: toRight 0.3s forwards;
  }
}

@keyframes toRight {
  49% {
    transform: translate(100%);
  }

  50% {
    opacity: 0;
    transform: translate(-100%);
  }

  51% {
    opacity: 1;
  }
}

