.btn-fill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: rem(112);
  line-height: 1.5;
  color: var(--white);
  border-radius: 2.5em;
  border: none;
  background-color: var(--purple);
  padding: rem(16) rem(24);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  &--icon {
    padding: rem(16) rem(31);
    gap: rem(16);
  }
}