.btn-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: rem(168);
  line-height: 1;
  color: var(--purple);
  border-radius: 2.5em;
  border: 2px solid currentColor;
  padding: rem(16) rem(24); 
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  &--wide {
    padding: rem(16) rem(45);
    gap: rem(16);
  }
}