.btn-transparent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 168px;
  font: 400 rem(18)/1 var(--main-font);
  color: var(--purple);
  border-radius: 2.5em;
  border: 2px solid var(--purple);

  &--draft {
    padding: rem(19) rem(22);
  }

  &--sort {
    padding: rem(12) rem(45);
    gap: rem(16);

    svg {
      width: rem(32);
      height: rem(32);
    }
  }
}