.btn-view {
  display: block;
  width: 100%;
  padding: rem(21);
  border-radius: 2.22em;
  background-color: var(--purple-10);
  box-shadow: var(--shadow-1);
  font-weight: 600;
  line-height: 1;
  color: var(--purple);
  cursor: pointer;
  border: none;
}