.btn-fill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: rem(112);
  font: 400 rem(18)/1 var(--main-font);
  color: var(--white);
  border-radius: 2.5em;
  border: none;
  background-color: var(--purple);
  padding: rem(21) rem(24);

  &--icon {
    padding: rem(21) rem(31);
    gap: rem(16);
  }
}